<!DOCTYPE html>
<html lang="en">
<head th:replace="header.html :: head"></head>
<body>
<div th:replace="header.html :: logo-container"></div>
<nav th:replace="header.html :: header-container"></nav>
<div class="shadow"></div>
<div class="container">

  <div class="login-wrap">
    <form action="/login" method="post">
      <label for="login-email">E-mail address:</label><br>
      <input type="text" id="login-email" name="login-email" required><br>
      <label for="login-password">Password:</label><br>
      <input id="login-password" name="login-password" type="password" required><br>
      <input type="submit">
    </form>
  </div>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>