<!DOCTYPE html>
<html lang="en">
<head th:replace="header.html :: head"></head>
<body>
<div th:replace="header.html :: logo-container"></div>
<nav th:replace="header.html :: header-container"></nav>
<div class="shadow"></div>
<div class="container">

    <div class="registration-wrap">
        <form action="/registration" method="post">
        <label for="reg-name">Name:</label><br>
        <input type="text" id="reg-name" name="reg-name" required><br>
        <label for="reg-email">E-mail address:</label><br>
        <input type="text" id="reg-email" name="reg-email" required><br>
        <label for="reg-password">Password:</label><br>
        <input id="reg-password" name="reg-password" type="password" required><br>
        <input type="submit" value="Registration">
        </form>
    </div>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>